@font-face {
    font-family: 'windows95';
    src: url("fonts/w95fa/w95fa.woff")
}

body {
    background-color: #0a8082;
    display:flex;
}

.window {
    image-rendering: pixelated;
    font-family: Times New Roman,serif;

    width:fit-content;

    margin: 5px;

    padding-left: 1px;
    padding-right: 1px;

    background-color: #c1c1c1;
    border-top: solid 2px white;
    border-left: solid 2px white;

    border-right: solid 2px black;
    border-bottom: solid 2px black;

    overflow: auto;
}

.draggable{
    position: absolute;
}
.windowcontent {
    overflow: auto;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.right {
    margin-left: auto;
    align-self: flex-end;
}

.centertext {
    text-align: center;
}

.taskbar {
    padding: 2px 6px;
    margin: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;

    height: 38px;
    z-index: 0;
}
.tall {
    height: 100%;
}

.titlebar {
    background: #000080;
    height: 24px;
    display: flex;
    color:white;
    font-size: 14px;
    font-weight: bold;

    user-select: none;
    align-items: center;
}
.titlebar div.controls {
    color:black;
    margin-left: auto;
}
/*Applies to all elements with the title class inside an element with titlebar*/
.titlebar .title {
    margin-left: 2px;
}

.clickable {
    user-select: none;
}
.clickable:active {
    border-top: solid 2px black;
    border-left: solid 2px black;

    border-right: solid 2px white;
    border-bottom: solid 2px white;

    transform: translate(1px, 1px);
}
#startButton {
    text-align: center;
    display: flex;
    align-items: center;
}


#welcomewindow {
    overflow: auto;

    width: 50vw;
    height: 50vh;

    max-width: 1000px;
    max-height: 800px;
    min-width: 400px;
    min-height: 500px;
}
#welcomewindow.windowcontent {
    margin: 10px;
    text-align: center;

}

#windowsimage {
    width: 30px;
    height: 30px;
}


.fadeout {
    animation: fadeout ease 2s;
}
.bgfadeout {
    animation: bgfadeout ease 2s;
}

@keyframes fadeout {
    from {
        opacity: 1;
        background-color: #0a8082;
    }
    to {
        opacity: 0;
        background-color: white;
    }
}

