@font-face {
    font-family: 'windows95';
    src: url("fonts/w95fa/w95fa.woff")
}

body {
    background-color: #0a8082;
    display:flex;
}

.window {
    image-rendering: pixelated;
    font-family: Times New Roman,serif;

    margin: auto; /* centers horizontally */
    width:fit-content;

    padding-left: 1px;
    padding-right: 1px;

    background-color: #c1c1c1;
    border-top: solid 2px white;
    border-left: solid 2px white;

    border-right: solid 2px black;
    border-bottom: solid 2px black;

    position: absolute;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.right {
    margin-left: auto;
    align-self: flex-end;
}

.centertext {
    text-align: center;
}

.taskbar {
    padding: 2px 6px;
    border-left: none;
    border-right: none;
    border-bottom: none;

    height: 38px;
    z-index: 0;
}
.tall {
    height: 100%;
}

.titlebar {
    background: #000080;

    height: 24px;
    display: flex;

    color:white;

    font-size: 14px;
    font-weight: bold;

    margin: 0;
    user-select: none;

    text-align: right;
}
.titlebar div.controls {
    justify-self: right;
}
.titlebar p {
    margin: 0;

}

.clickable {
    user-select: none;
}
.clickable:active {
    border-top: solid 2px black;
    border-left: solid 2px black;

    border-right: solid 2px white;
    border-bottom: solid 2px white;

    transform: translate(1px, 1px);
}

#welcomewindow {
    width: 500px;
    height: 600px;
}
#welcomewindow.windowcontent {
    margin: 10px;
    text-align: center;
}

#windowsimage {
    width: 30px;
    height: 30px;
}


.fadeout {
    animation: fadeout ease 2s;
}
.bgfadeout {
    animation: bgfadeout ease 2s;
}

@keyframes fadeout {
    from {
        opacity: 1;
        background-color: #0a8082;
    }
    to {
        opacity: 0;
        background-color: white;
    }
}

