
* {
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

body {
    display: flex;
    background-color: #F4F1DE;
    position: relative;

    animation-name: startAnimation;
    animation-duration: 2s;
}


h1 {
    font-size: clamp(1rem, 2.5vw, 3rem);
}

.container {
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    margin: 15px;

    max-height: 95vh;

    background-color: #F2CC8F;
    width: fit-content;
}

.right {
    margin-left: auto;
    text-align: right;
}
.left {
    margin-right: auto;
}
.center {
    margin: auto;
}
.wide {
    width: auto;
}
.overflow {
    overflow: auto;
}
.row {
    display: flex;
}

.purchasedItemRow {
    width: auto;
    overflow: auto;

    translate: 0 -80vh;
    transition: opacity, transform, translate 0.6s ease;

    flex-shrink: 0;
}
.purchasedItemRow.show {
    translate: 0 0;
}

.purchasedItem {
    transform: scale(0.0);
    translate: 0 -100%;
    opacity: 0;
    transition: transform, opacity,translate 0.2s ease;

    flex: none;
}
.purchasedItem.show {
    translate: 0 0;
    transform: scale(1);
    opacity: 1;
}

.floating-text {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: green;
    animation: floatUp 1s ease-out forwards;
    pointer-events: none; /* doesn’t block clicks */
}

@keyframes floatUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-40px);
    }
}


#clickbox {
    width: 20%;
    height: 95vh;
    text-align: center;
}
#clickbox h2 {
    font-size: clamp(1rem, 2.5vw, 3rem);
    margin: 0;
}
#clickbox p {
    margin: 0;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    margin-bottom: 20px;
}

#clickbox button {
    align-self: center;
    margin: 0 auto;

    border: none;
    background-color: #E07A5F;

    width: 80%;
    height: 30%;
    border-radius: 100%;

    font-size: clamp(1rem, 2.5vw, 3rem);
}
#clickbox button:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

#clickbox button:active {
    transform: scale(0.95);
}

#shopbox {
    text-align: center;
    width: 20%;
    height: 95vh;
}
#shopitemsbox {
    height: 90%;
}
#shopitemsbox div {
    gap: 20px;
    user-select: none;
    text-align: left;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    display: flex;
}

#tagbox {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#tagbox p {
    margin: 0;
}
#tagbox p2 {
    font-size: clamp(0.2rem, 2.5vw, 1.0rem);
}
#tagbox p3 {
    font-size: clamp(0.2rem, 2.5vw, 0.9rem);
    text-align: right;
}
.shopitem:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.shopitem:active {
    transform: scale(1);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.shopitem.unaffordable {
    opacity: 0.5;
    background: #ccc;
}
.shopitem.unaffordable:hover {
    transform: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.shopitem.unaffordable:active {
    transform: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

#purchaseditemsbox {
    background-color: transparent;
    width: 60%;
    margin: 20px;

    display: block;

}
#purchaseditems {
    display: flex;
    flex-direction: column; /* force children to stack top → bottom */
    gap: 10px; /* optional spacing */
    max-height: 90%;
}

@keyframes startAnimation {
    from {
        background-color: white;
        top: -150vh
    }
    to {
        top: 0;
        background-color: #F4F1DE;
    }
}